/**********************************************TAG SELECTOR*********************************************************/

body {
    background-color: #B7CADB;
}

img {
    border-radius: 50%;
    height: 15em;
    width: 15em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
    width: 10%;
    border-style: dotted;
    size: 5em;
    border-color: darkgray;
    border-width: 5px 0 0;
    height: 0px;
    margin-block-start: 0px;
    margin-block-end: 0ex;
    padding: 5px;
}

h1 {
    color: #FDF6EC;
}

h3 {
    color: #FDF6EC;
}


/**********************************************************CLASS SELECTORS***************************************************************/


/* 
.Class {                    %Classes can be used in multiple areas%
    property: value;    
}
*/


/**********************************************************ID SELECTORS***************************************************************/


/*
#ID {                       %ID can be used in one area%
    Property: Value;
}
*/