/**********************************************TAG SELECTOR*********************************************************/

body {
    background-color: #B7CADB;
    font-family: cursive;
}

img {
    border-radius: 50%;
    border-color: #FDF6EC;
    height: 15em;
    width: 15em;
    margin-left: auto;
    margin-right: auto;
}

hr {
    width: 10%;
    border-style: dotted;
    size: 5em;
    border-color: darkgray;
    border-width: 5px 0 0;
    height: 0px;
    margin-block-start: 0px;
    margin-block-end: 0ex;
    padding: 5px;
    margin: 10px auto;
}

h1 {
    color: #FDF6EC;
}

h3 {
    color: #FDF6EC;
}

li {
    margin: 1em;
}


/**********************************************************CLASS SELECTORS***************************************************************/


/* 
.Class {                    %Classes can be used in multiple areas%
    property: value;    
}
*/

.title {
    text-align: center;
}

.profileImg {
    border-style: solid;
}

.boku {
    /*STR*/
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    /*1em = 16px 80/16 =  5em  */
    border-bottom: .625rem;
    display: inline-block;
    margin-bottom: 100px;
    margin: 0ex;
}

.hi {
    color: #FDF6EC;
}

.me {
    text-align: center;
    position: absolute;
}

.middle-container {
    text-align: center;
}

.bottom-container {
    text-align: center;
}

.namae {
    font-size: 2.5rem;
}

.skill-row {
    display: inline-block;
    text-align: center;
    width: 50%;
}

.skills {
    text-align: center;
}


/**********************************************************ID SELECTORS***************************************************************/


/*
#ID {                       %ID can be used in one area%
    Property: Value;
}
*/